ellipsis()
   text-overflow:ellipsis
   overflow:hidden
   white-space:nowrap

loaction()
   position:absolute
   right:.2rem
   bottom:0
   top:0
   width:.3rem
   height:.3rem
   margin:auto
   font-size:.3rem
   color:#999